extends layout

block content
  #landing(ng-class="{isContent: isContent}" ng-controller="landingCtrl")
    #title_wrapper
      #title
        #logo
          img(src="images/frEEdom_logo.png")
        #words
          #name frEEdom
          #subtitle 2014 台大電機營
    #nav_wrapper(ng-hide="showImage")
      #navbar
        ul
          li.link(link ng-repeat="item in nav_items track by $index" 
                  ng-click="toPage(item.state)" ng-bind="item.title")
  #content_wrapper(ui-view ng-controller="contentCtrl")
//  .fb-page
//    .fb-like-box(data-href="https://www.facebook.com/FacebookDevelopers" 
//                 data-width="630" data-colorscheme="light" 
//                 data-show-faces="true" data-header="true" 
//                 data-stream="false" data-show-border="true")
