// angular
script(src="/components/angular/angular.min.js")
script(src="/components/angular-ui-router/release/angular-ui-router.min.js")
script(src="/javascripts/angular/app.js")
script(src="/javascripts/angular/data.js")
script(src="/javascripts/angular/config.js")
script(src="/javascripts/angular/controllers/landing.js")
script(src="/javascripts/angular/controllers/content.js")
script(src="/javascripts/angular/directives.js")

// underscore
script(src="/components/underscore/underscore.js")





