<!-- <accordion close-others="true">
  <accordion-group heading="{{n.title}}" ng-repeat="n in news" is-open="false">
    {{n.content}}
  </accordion-group>
</accordion> -->
<div id="faq" class="content-bg" icon="pickaxe">
  <div class="text_wrapper">
    <div ng-repeat="q in faqs">
      <hr ng-show="$index>0">
      <p class="question" ng-bind="q.question"></p>
      <p class="answer" ng-bind="p" ng-repeat="p in q.paragraphs"></p>
    </div>
    <div class="disqus-box">
      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
</div>
