<div id="info" class="content-bg" icon="axe">
  <div class="text_wrapper">
    <div id="intro">
      <p class="info-intro" ng-bind="p" ng-repeat="p in intro.paragraphs"></p>
    </div>
    <div ng-repeat="i in info">
      <hr>
      <p class="info-title" ng-bind="i.title"></p>
      <p class="info-paragraph" ng-bind="p" ng-repeat="p in i.paragraphs"></p>
    </div>
    <div class="fb-page">
      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=630&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=336813796436471" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:630px; height:590px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>
