<div id="news" class="content-bg" icon="dagger">
  <div class="text_wrapper">
    <div ng-repeat="n in news">
      <hr ng-show="$index>0">
      <p class="news-title" ng-bind="n.title"></p>
      <p class="news-content" ng-bind="p" ng-repeat="p in n.paragraphs"></p>
    </div>
    <div class="fb-page">
      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=630&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=336813796436471" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:630px; height:590px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>
