<div id="register" class="content-bg" icon="bow">
  <div class="step" icon="mailinglists">
    <h2>下載</h2>
    到<a href="http://ntuee.org/~camp2013/eecamp2013_application.zip">這裡下載報名表</a>，並且填寫完畢。
  </div>
  <!-- <div class="arrow" icon="arrowright"></div> -->
  <div class="step" icon="emailalt">
    <h2>寄出</h2>
    在 5/3 前（郵戳為憑）寄至以下地址：<strong>10617 台北市羅斯福路四段1號 國立台灣大學電機系系學會 電機營 收。</strong>
  </div>
  <!-- <div class="arrow" icon="arrowright"></div> -->
  <div class="step" icon="squaresearch">
    <h2>查詢</h2>
    報名一週後可以<a href="http://ntuee.org/camp2013">在此查詢</a>報名表是否順利寄達。<br><br>
    5/10 將公佈錄取名單，屆時 144 名幸運的高中生（含應屆畢業生）將成為電機營大家庭的一員！<br><br>
    我們也將寄出入選通知，請收到的隊員依照通知上的說明繳費。
  </div>
   <div style="clear:both; float:none;">&nbsp;</div>
</div>
